<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/time_tracking</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">mysql-admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect</property>
        <!-- set hdm2ddl.auto to update so as not to overwrite the DB -->
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="org.timetracking.persistence.model.Employee"/>
        <mapping class="org.timetracking.persistence.model.Project"/>
        <mapping class="org.timetracking.persistence.model.TaskCode"/>
        <mapping class="org.timetracking.persistence.model.CostCenter"/>
        <mapping class="org.timetracking.persistence.model.TimeTracking"/>
        <mapping class="org.timetracking.persistence.model.Task"/>
    </session-factory>
</hibernate-configuration>